<nav class="navbar navbar-light navbar-expand-lg navigation-clean ms-5 me-5 mt-2 shadow p-3 mb-5 bg-body rounded">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('index') }}">
            <img src="{{ asset('img/deineabos.svg') }}" alt="deine Abos" width="36"
                 class="d-inline-block mb-1 me-2" loading="lazy">
            Deine Abos
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('index') }}">Home</a>
                </li>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Subscriptions</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('listSubscriptions') }}">Subscription Liste</a>
                            <a class="dropdown-item" href="{{ path('newSubscription') }}">Subscription Neu</a>
                        </div>
                    </li>
                {% endif %}
            </ul>

        </div>
        <ul class="navbar-nav">
            <li class="nav-item active">
                {% set login = is_granted('ROLE_USER')  %}
            </li>
            {% if login %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">{{ app.user.email }}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}"><i class="fa fa-user me-3" id="fa-user"></i>Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_registration') }}">Registrieren</a>
                </li>

            {% endif %}
        </ul>
    </div>
</nav>